p img{

border:5px solid darkorange ;
border-radius: 100px;

}

p{
    text-align: left;
}

h1{
    text-align: center;
    color: white;
}

h2{
    text-align: center;
    color: white;
}
html{
    background-color: black;
}

main{
color: white;
}

header img{
    border: 5px solid darkorange;
    border-radius: 100px;   
}

header{
    text-align: right;
}



